!!!
%html
  %head
    %title Datashot
    = stylesheet_link_tag    "datashot/application", media: "all"
    = javascript_include_tag "datashot/application"
    = csrf_meta_tags
  %body
    .header
      %nav.top-nav
        .row
          .col.s12
            .nav-wrapper
              %a.nav__page-title
                = yield :page_title
    .main
      = yield
    .footer


