= form_for(@snapshot) do |f|
  - if @snapshot.errors.any?
    .row
      .col.s12
        #error_explanation
          %h2
            = pluralize(@snapshot.errors.count, "error")
            prohibited this snapshot from being saved:
          %ul
            - @snapshot.errors.full_messages.each do |message|
              %li= message
  .row
    .col.s12.input-field
      = f.label :name
      = f.text_field :name
  .row
    .col.s12.input-field
      = f.label :query
      = f.text_area :query, class: "materialize-textarea"
  .actions= f.submit(class: "btn btn-primary")
